/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: left;
  color: #F2EFDC;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #F2EFDC;
  text-decoration: none;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #E3D1A6;
  font-size: 1.75em;
  line-height: 1.2;
  font-weight: 500;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.875em;
  font-weight: 500;
  color: #262626;
}

h3,
h4 {
  font-family: 'Bebas Neue', cursive;
  margin: 20px 0;
  font-size: 1.125em;
  font-weight: 500;
  margin: 20px,0;
  letter-spacing: 1.6px;
}

p {
  font-size: .875em;
  line-height: 1.25em;
  color: #750021;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

address p {
  font-size: .975em;
  line-height: 1.50em;
}

/* -------------------- Base - Styles-------------------- */
.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/* -------------------- Base - Header-Hero-Footer - Styles-------------------- */

/* Hamburger-Menu-Styles.*/

/* header */
.header {
  position: fixed;
  width: 100%;
 
  /* Add blurred background to menu*/
  background-color: rgba(97, 92, 92, 0.8);
  backdrop-filter: blur(8px);

  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-bottom: 1px solid rgba(10, 8, 4, 0.4);
  border-right: 1px solid rgba(10, 8, 4, 0.4);
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #F2EFDC;
  background-color: rgba(112, 13, 43, 0.5);
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgba(242, 239, 220);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgba(242, 239, 220);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
  background: #750021;
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
  background: #750021;
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}/* Hamburger-Menu-Styles-end.*/

/*footer*/
footer {
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  flex-direction: column;
}

footer p {
  margin: 0;
  color: #F2EFDC;
}

footer .content-wrapper {
  width: 55%;
  
}

footer .contact {
  margin-bottom: 30px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  background-color: #750021;

}

footer .social-icons p i {
  font-size: 1em;
}

footer .copyright {
  margin: 50px 0 0;
}/* Common footer-Styles-end.*/


/* Common Hero-Area-Styles.*/
.hero-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
  background: url('../img/hero-img.jpg') center no-repeat;
  background-size: cover;
  min-height: 500px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.hero-area .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 0;
}

.hero-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero-top h1,
.hero-top figure {
  width: 45%;
}

/*Style for the hero h1 span color*/
.h1-2nd-color {
  color: #F2EFDC;
}

.hero-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero-bottom h2 {
  text-transform: uppercase;
  padding: 70px 0 0;
  margin: 20px;
}

/* WhatsApp-btn-Styles.*/
.whatsapp-btn {
  position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
  right:40px;
  
	background-color:#750021;
  color:#F2EFDC;
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 300px;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  
  z-index:100;
  
  
  will-change: transform;
  transition: transform 450ms;
}

.whatsapp-btn:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}

.my-float {
  margin-top: 10px;
}
/*--------------------Mobile Styles - Homepage-----------------------*/
/* Slideshow-area-Styles.*/

#slider {
  overflow: hidden;
  padding: 8px 0;
  background-color: #E3D1A6;
  }

#slider figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row-wrap;
	position: relative;
	width: 500%;
	margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
	width: 20%;
  float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

/*Reviews-area-Styles.*/

/* Style the reviews container with a colored background */
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #E3D1A6;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.reviews .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.reviews article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  background: #F2EFDC;
  border: 2px solid #750021;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 10px 10px;
  padding: 12px;
  text-align: center;
}

.reviews article img {
  width: 90px;
  margin: auto;
  border-radius: 50%;
}

.reviews article .client-name {
  font-size: 25px;
  font-weight: 700;
  margin-right: 15px;
}

.reviews article .client-position {
  font-weight: 700;
}

.reviews article p {
  margin: 0;
  line-height: 1.5rem;
}

/*--------------------Mobile Styles - Gallery - Page-----------------------*/

/* The-Grid-area-Styles.*/

.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2EFDC;
  border: 2px solid #750021;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  filter: grayscale(100%);
}

.gallery img {
  width: 100%;
  border-radius: 5px;
  transition: all .25s ease-in-out;
}

.gallery p {
  margin: 15px 0;
  padding: 0;
  text-align: center;
}

.gallery-item:hover {
  filter: none;
  transform: scale(1.04);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  padding-top: 60px;
  background-color: #E3D1A6;
}

/*--------------------Mobile Styles - Services - Page-----------------------*/

/* Services - section styles */

.services {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/services-img.jpg') center no-repeat;
  background-size: cover;
}

.services h2{
  margin-top: 0;
  margin-bottom: 50px;
  color: #F2EFDC;
  letter-spacing: 1.2px;
  text-align: center;
}

.services article {
  width: 56%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.services .services-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
   
.services p {
  text-align: center;
  display: flex;
  margin: 0;
  color: #F2EFDC;
}

.services i {
  font-size: 3.75em;
  margin-bottom: 40px; 
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Add media queries for responsiveness. This will center both the text and the image inside the container */


@media only screen and (min-width: 768px) {
  /*Tablet styles goes here*/

/*--------------------General - Styles -----------------------*/
  
.content-wrapper {
  max-width: 640px;
  margin: 50px 0;
}

h1 {
  font-size: 3.55em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  }
  
/* Header - Styles*/
.header {
  border-bottom: 1px solid rgba(10, 8, 4, 0.4);
}

/*Highlights the bottom border of the menu's button on hoover*/
.header li a:hover {
  background-color: transparent;
}

/*Keeps highlighted the current page*/
.current {
  background-color: #E3D1A6;
  color: #262626;
}

/* Hamburger menu styles*/

.header li {
  float: left;
}

.header li a {
  padding: 20px 30px;
  border-bottom: none;
}

.header .menu {
  clear: none;
  float: right;
  max-height: none;
}

.header .menu-icon {
  display: none;
}

/* Hero - Styles */

.hero-area {
  min-height: 840px;
}

.hero-top {
  margin: 0 0 280px;
}
  
.hero-top h1 {
  width: 60%;
}

.hero-top figure {
  width: 30%;
}
  
.hero-bottom h2 {
  display: none;
}

/* WhatsApp-btn-Styles.*/
.whatsapp-btn {
  width: 70px;
  height: 70px;
  bottom: 4px;
  right: 40px;
  font-size: 50px;
  margin-bottom: 250px;
}

.my-float {
  margin-top: 10px;
}

/* Footer styles*/

footer .content-wrapper {
  width: 65%;
  margin: 50px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

footer .contact {
  margin-bottom: 0;
}

footer h4 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

footer p {
  line-height: 1.185;
}

footer .social-icons {
  width: 12.5em;
  justify-content: space-between;
}

footer .copyright {
    width: 100%;
}

footer .copyright p {
  font-size: .9em;
}
    
/*--------------------Home Page - Styles -----------------------*/
/* Reviews styles*/

.reviews article {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: left;
  margin: 30px 0;
}

.reviews figure {
  margin-right: 10px;
}

.reviews .comment-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

/*--------------------Gallery Page - Styles -----------------------*/
/* Grid styles*/

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

/*--------------------Services Page - Styles -----------------------*/
.services h2 {
  margin-bottom: 20px;
}
     
.services article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%; 
} 

.services .services-item-description {
  width: 50%;
}
}/*--------------------min-width: 768px Media queries ends here -----------------------*/

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/

/*--------------------General - Styles -----------------------*/
.content-wrapper {
  max-width: 960px;
  margin: 100px 0;
}

h1 {
font-size: 4.75em;
}

h2 {
  font-size: 2.75em;
}
    
p {
  font-size: 1.125em;
  line-height: 1.333;
}

/*Header styles*/
.header li a:hover {
  border-bottom: 1px solid #F2EFDC;
}

/*WhatsApp button styles*/
.whatsapp-btn {
  margin-bottom: 50px;
}

footer h4 {
font-size: 2em;
}

footer p {
  font-size: 1.125em;
  line-height: 1.333;
}

footer .copyright {
  margin-top: 100px;
}

/*--------------------Homepage Styles -----------------------*/
  /* Hero - Styles*/

.hero-area {
  min-height: 600px;
 }

 .hero-area .content-wrapper{
   margin-bottom: 100px;
 }
 
.hero-top h1 {
  width: 60%;
}

.hero-top figure {
  width: 30%;
}

.hero-bottom h2 {
  display: none;
}
  
/* Reviews - Styles*/
.reviews .content-wrapper {
    width: 960px;
}
  
/*--------------------Services Page - Styles -----------------------*/
  .services h2 {
  width: 90%;
  margin: 50px;
  text-align: center;
}
       
.services article {
  flex-basis: 33%; 
} 
  
}/*--------------------min-width: 1200px Media queries ends here -----------------------*/

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
